<!DOCTYPE html> 
<html> 
<head> 
	<title>Sign Up Page</title> 
	<style type="text/css" media="screen"> 
		body { 
			background-color: skyblue; 
			color: white; 
			font-size: 2em; 
		} 
	</style> 
</head> 
<body> 
	<center> 
		This is our SignUp page<br/>
        Please SignUp<br/><br/>
        <form action="signup.js">
        <input type="text" placeholder="Full Name" required><br/>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required><br/>
        <input type="submit" name="submit">
        </form>
	</center>
</body> 
</html>					 
